<p id="notice"><%= notice %></p>

<h1 class="pageheader">Posts</h1>

<div id="wrapper">
  <% @posts.each do |post| %>
    <%= link_to post do %>
      <div class="post-slot">
        <h2 class="title"><%= post.title %></h2>
        <div class="body-disp"><%= Redcarpet::Markdown.new(Redcarpet::Render::HTML).render(post.body).html_safe %></div>
      </div>
    <% end %>
  <% end %>
</div>

<% if current_user.username == "tavinturner" or "colemowery" %>
  <%= link_to 'New Post', new_post_path %>
<% end %>
