<div id="img-ban" style="background-image:url(https://unsplash.it/1920/1080/?random);">
  <div class="grad-v">
    <h1 class="article-title">Le Post Voyage</h1>
    <hr>
    <h3 class="user">De Ben L, Cole M, Rohan Jaspal, Nathan K, Saketh J, Tom A, and Tavin T</h3>
  </div>
</div>
<div style="height: 90vh;"></div>
<h1 class="article-title">Salut!</h1>
<hr>
<div class="body">
  <p>
    Ici sur notre site de blogs, le post voyage, nous voyagons le monde. Nous sommes récemment allés explorer le Angleterre. Pendant notre séjour au Angleterre, nous avons visité Londres, Manchester, Liverpool, Edimbourg et Bournemouth. Nous avons séjourné dans des hôtels fantastiques, nous avons voyagé dans le style, et à un peu de nourriture impeccable. Mon travail était de prendre des photos sur le voyage, mais étant donné que je n'ai pas un lecteur de carte avec moi, j'ai tiré des images en ligne, jusqu'à ce que nous puissions accéder aux fichiers sur mon appareil photo. Dans l'ensemble, le Royaume-Uni a été une expérience incroyable, mais pourquoi m'écouter, quand vous pouvez voir par vous-même la façon dont nous avons voyagé.
  </p>
</div>

<h1 class="article-title">Nos Articles</h1>
<hr>

<div id="wrapper">
  <% @posts.each do |post| %>
    <%= link_to post do %>
      <div class="post-slot" style="background-image:url(<%= post.image.url(:thumb) %>);">
        <div class="contain">
          <h2 class="title"><%= post.title %></h2>
          <div class="body-disp">
            <%= Redcarpet::Markdown.new(Redcarpet::Render::HTML).render(post.body).html_safe %>
          </div>
          <div class="bgrad"></div>
        </div>
      </div>
      <div class="timer">
        <p><%= time_ago_in_words(post.created_at) %> ago</p>
      </div>
    <% end %>
  <% end %>
</div>
