<div id="img-ban" style="background-image:url(https://unsplash.it/1920/1080/?random);">
  <div class="grad-v">
    <h1 class="article-title">Le Post Voyage</h1>
    <hr>
    <h3 class="user">De Ben L, Cole M, Rohan Jaspal, Nathan K, Saketh J, Tom A, and Tavin T</h3>
  </div>
</div>
<div style="height: 100vh;"></div>

<h1 class="article-title">Nos Articles</h1>
<hr>

<div id="wrapper">
  <% @posts.each do |post| %>
    <%= link_to post do %>
      <div class="post-slot" style="background-image:url(<%= post.image.url(:thumb) %>);">
        <div class="contain">
          <h2 class="title"><%= post.title %></h2>
          <div class="body-disp">
            <%= Redcarpet::Markdown.new(Redcarpet::Render::HTML).render(post.body).html_safe %>
          </div>
          <div class="bgrad"></div>
        </div>
      </div>
      <div class="timer">
        <p><%= time_ago_in_words(post.created_at) %> ago</p>
      </div>
    <% end %>
  <% end %>
</div>
