<p id="notice"><%= notice %></p>

<div id="img-ban" style="background-image:url(<%= @post.image.url(:large) %>);background-color:#24272E;">
  <div class="grad-v">
    <h1 class="article-title"><%= @post.title %></h1>
    <hr>
    <h3 class="user">Written by @<%= @post.user.username %></h3>
  </div>
</div>
<div style="height: 87vh;"></div>

<div class="body">
  <%= @post.body.html_safe %>
</div>
